/* src/components/FashionModelPage.css */

.fashionmodel {
  display: flex;
  flex-direction: column;
    align-items: center;
    
   
  }
  
  .modelimage {
    width: 101%;
    height: 40vh; /* 100% of the viewport height */
    object-fit: cover; /* Ensure the image covers the entire element */
    object-position: center; /* Center the image within the element */
    margin: 0;
    padding: 0;
    border: none;
    display: block;
  }
  
  .fashionmodel h1 {
    font-size: 2rem;
    color: #fff9f9;
  }
  
  .fashionmodel p {
    font-size: 1rem;
    color: #383737;
  }
  .card {
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff9f9;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 16px 0 rgba(2, 2, 2, 0.2);
    border: 1px solid #810303;
  }
  
  .card img {
    max-width: 200%;
    height: 30px;
  }
  
  .cardbody {
    padding: 10px;
  }
  
  .cardtext {
    font-size: 1.2rem;
  }
  
  .textmuted {
    color: #272626;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }
  
  /* You can add more styling as needed for your fashion model page. */
  
  